
    
    
    <style>@import url('https://fonts.googleapis.com/css?family=Afacad+Flux:400,400i,700,700i&display=swap');.gps-603952365602603807 .gp-relative{position:relative}.gps-603952365602603807 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-603952365602603807 .gp-mb-0{margin-bottom:0}.gps-603952365602603807 .gp-inline-block{display:inline-block}.gps-603952365602603807 .gp-flex{display:flex}.gps-603952365602603807 .gp-inline-flex{display:inline-flex}.gps-603952365602603807 .gp-grid{display:grid}.gps-603952365602603807 .gp-contents{display:contents}.gps-603952365602603807 .\!gp-hidden{display:none!important}.gps-603952365602603807 .gp-hidden{display:none}.gps-603952365602603807 .gp-h-auto{height:auto}.gps-603952365602603807 .gp-h-full{height:100%}.gps-603952365602603807 .gp-w-full{width:100%}.gps-603952365602603807 .gp-max-w-full{max-width:100%}.gps-603952365602603807 .gp-flex-none{flex:none}.gps-603952365602603807 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-603952365602603807 .gp-flex-col{flex-direction:column}.gps-603952365602603807 .gp-items-center{align-items:center}.gps-603952365602603807 .gp-justify-center{justify-content:center}.gps-603952365602603807 .gp-overflow-hidden{overflow:hidden}.gps-603952365602603807 .gp-break-words{overflow-wrap:break-word}.gps-603952365602603807 .gp-text-center{text-align:center}.gps-603952365602603807 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-603952365602603807 .gp-no-underline{text-decoration-line:none}.gps-603952365602603807 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603952365602603807 .gp-duration-200{transition-duration:.2s}.gps-603952365602603807 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603952365602603807 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-603952365602603807 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-603952365602603807 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-603952365602603807 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-603952365602603807 .tablet\:\!gp-hidden{display:none!important}.gps-603952365602603807 .tablet\:gp-hidden{display:none}.gps-603952365602603807 .tablet\:gp-h-auto{height:auto}.gps-603952365602603807 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-603952365602603807 .mobile\:\!gp-hidden{display:none!important}.gps-603952365602603807 .mobile\:gp-hidden{display:none}.gps-603952365602603807 .mobile\:gp-h-auto{height:auto}.gps-603952365602603807 .mobile\:gp-flex-none{flex:none}}.gps-603952365602603807 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-603952365602603807 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"glG92GZ54p"}' data-id="glG92GZ54p" id="glG92GZ54p" data-same-height-subgrid-container class="glG92GZ54p gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guryzbW8Xd gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2E8DE","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gpwdMpQ9mi"}' data-id="gpwdMpQ9mi" id="gpwdMpQ9mi" data-same-height-subgrid-container class="gpwdMpQ9mi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--mb-tablet:0px;--pt-tablet:20px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2E8DE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gDQvrRKHeK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJN0nFxw2i"
        class="gJN0nFxw2i"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#E78F29;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJN0nFxw2i_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnJC39Ipbz"
        class="gnJC39Ipbz"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:9px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Afacad-Flux, 'Afacad Flux'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnJC39Ipbz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://merideaselabs.com/products/pumpkin-seed-oil-softgels","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center" >
        <style>[data-id="gAgAtlFnl9"].gp-button-base::before, [data-id="gAgAtlFnl9-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gAgAtlFnl9"]:hover::before, [data-id="gAgAtlFnl9-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="gAgAtlFnl9" dataId="gAgAtlFnl9" data-state="idle" aria-label="<p>CLICK HERE TO CHECK AVAILABILITY</p>"
          
          href="https://merideaselabs.com/products/pumpkin-seed-oil-softgels" target="_blank"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#C5453F;--bg:#E78F29;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="gAgAtlFnl9 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAgAtlFnl9_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gAgAtlFnl9">
        button.gAgAtlFnl9 {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gC904Hhmrj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXPngL69r4"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1771750504681 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXPngL69r4"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "unwatermarked_Gemini_Generated_Image_i1ij4ai1ij4ai1ij.png" | file_url }}" srcset="{{ "unwatermarked_Gemini_Generated_Image_i1ij4ai1ij4ai1ij.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "unwatermarked_Gemini_Generated_Image_i1ij4ai1ij4ai1ij.png" | file_url }}" srcset="{{ "unwatermarked_Gemini_Generated_Image_i1ij4ai1ij4ai1ij.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "unwatermarked_Gemini_Generated_Image_i1ij4ai1ij4ai1ij.png" | file_url }}" data-src="{{ "unwatermarked_Gemini_Generated_Image_i1ij4ai1ij4ai1ij.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gXPngL69r4">
        .gXPngL69r4 {

}
.gXPngL69r4 > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gFWxgOpBs-"}' data-id="gFWxgOpBs-" id="gFWxgOpBs-" data-same-height-subgrid-container class="gFWxgOpBs- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gulFFKGTuM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga2NZMOSAu"
        class="ga2NZMOSAu"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#E78F29;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga2NZMOSAu_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_v0AWAnL6"
        class="g_v0AWAnL6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Afacad-Flux, 'Afacad Flux'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_v0AWAnL6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="g3oAqDo74a gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ghqz_gXvec"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1771750504683 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ghqz_gXvec"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gg.jpg" | file_url }}" srcset="{{ "gg.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gg.jpg" | file_url }}" srcset="{{ "gg.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gg.jpg" | file_url }}" data-src="{{ "gg.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-ghqz_gXvec">
        .ghqz_gXvec {

}
.ghqz_gXvec > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2E8DE","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gPnsw5rzU9"}' data-id="gPnsw5rzU9" id="gPnsw5rzU9" data-same-height-subgrid-container class="gPnsw5rzU9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:17px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--mb-tablet:17px;--pt-tablet:20px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2E8DE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="giJGzQ3cn0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBcdBu_Et5"
        class="gBcdBu_Et5"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:0px;--mb-mobile:14px;--pr-mobile:0px;--mb-tablet:16px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#E78F29;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBcdBu_Et5_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkpNxMLTYt"
        class="gkpNxMLTYt"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Afacad-Flux, 'Afacad Flux'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkpNxMLTYt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gC6uyf3yNl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gzLaz79tha"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:18px;--mb-tablet:18px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1771750504684 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzLaz79tha"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "main_71bc4de8-6061-46ae-8a7a-0c4ffe27958c.jpg" | file_url }}" srcset="{{ "main_71bc4de8-6061-46ae-8a7a-0c4ffe27958c.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "main_71bc4de8-6061-46ae-8a7a-0c4ffe27958c.jpg" | file_url }}" srcset="{{ "main_71bc4de8-6061-46ae-8a7a-0c4ffe27958c.jpg" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "main_71bc4de8-6061-46ae-8a7a-0c4ffe27958c.jpg" | file_url }}" data-src="{{ "main_71bc4de8-6061-46ae-8a7a-0c4ffe27958c.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzLaz79tha">
        .gzLaz79tha {

}
.gzLaz79tha > figure > img {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://merideaselabs.com/products/pumpkin-seed-oil-softgels","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center" >
        <style>[data-id="gNexQMyphh"].gp-button-base::before, [data-id="gNexQMyphh-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gNexQMyphh"]:hover::before, [data-id="gNexQMyphh-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="gNexQMyphh" dataId="gNexQMyphh" data-state="idle" aria-label="<p>GET UP TO 55% OFF</p>"
          
          href="https://merideaselabs.com/products/pumpkin-seed-oil-softgels" target="_blank"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#C5453F;--bg:#E78F29;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="gNexQMyphh gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggNexQMyphh_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gNexQMyphh">
        button.gNexQMyphh {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-603952365602603807 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/s3x280-0x/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=603948288705561375&sectionId=603952365602603807)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJN0nFxw2i_text","label":"ggJN0nFxw2i_text","default":"5. Reclaims Your Dignity &amp; Autonomy"},{"type":"html","id":"ggnJC39Ipbz_text","label":"ggnJC39Ipbz_text","default":"<p><strong>No more:</strong></p><ul><li><strong>\"Latchkey Panic\"</strong> when you put your key in the door.</li><li><strong>\"Toothpaste Pinching\"</strong> to avoid stains in your underwear.</li><li><strong>\"Bathroom Mapping\"</strong> every time you go to a restaurant.</li></ul><p><i>\"Everything you claim is true. Stronger stream, yes. Sleeping through the night, yes. No more embarrassment, yes.\" — </i>James P.</p>"},{"type":"html","id":"ggAgAtlFnl9_label","label":"ggAgAtlFnl9_label","default":"<p>CLICK HERE TO CHECK AVAILABILITY</p>"},{"type":"html","id":"gga2NZMOSAu_text","label":"gga2NZMOSAu_text","default":"Warning Signs You Are Developing \"Leather Bladder\":"},{"type":"html","id":"gg_v0AWAnL6_text","label":"gg_v0AWAnL6_text","default":"<ul><li><strong>The \"3 AM Wall\":</strong> Waking up and unable to fall back asleep.</li><li><strong>Urgency without Volume:</strong> Feeling like you're going to burst, but only a trickle comes out.</li><li><strong>Latchkey Panic:</strong> An uncontrollable urge the moment you arrive home.</li><li><strong>Weak Stream:</strong> A start-stop flow that takes forever to finish.</li></ul><p><strong>Important:</strong> Every month you stay in \"watchful waiting\" allows more collagen scar tissue to build up in your bladder wall.</p>"},{"type":"html","id":"ggBcdBu_Et5_text","label":"ggBcdBu_Et5_text","default":"Your 90-Day Decompression Timeline"},{"type":"html","id":"ggkpNxMLTYt_text","label":"ggkpNxMLTYt_text","default":"<ul><li><strong>Weeks 1-2:</strong> Inflammation begins to cool. The \"Vice Grip\" on the urethra loosens. Urgency frequency drops.</li><li><strong>Weeks 3-4:</strong> Sleep architecture restores. The \"3 AM Awakening\" stops. Energy levels return.</li><li><strong>Weeks<sub> </sub>5-8:</strong> Full symptom relief. Bladder elasticity is protected from further thickening. Sexual confidence returns.</li><li><strong>Weeks 9-12:</strong> Prostate health optimized. Systemic Decompression.</li></ul><p>&nbsp;</p><p><strong>Take Control of Your Sleep &amp; Dignity Today</strong></p><ul><li><strong>Special Offer:</strong> Save up to 55% off today.</li><li><strong>60-Day Money-Back Guarantee:</strong> If you don't sleep better, you don't pay.</li><li><strong>Clinical Strength:</strong> High-potency Beta-Sitosterol &amp; Delta-7 Sterols.</li></ul>"},{"type":"html","id":"ggNexQMyphh_label","label":"ggNexQMyphh_label","default":"<p>GET UP TO 55% OFF</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}