
    
    
    <style>.gps-612933882630767184 .gp-relative{position:relative}.gps-612933882630767184 .gp-sticky{position:sticky}.gps-612933882630767184 .gp-flex{display:flex}.gps-612933882630767184 .gp-inline-flex{display:inline-flex}.gps-612933882630767184 .\!gp-hidden{display:none!important}.gps-612933882630767184 .gp-hidden{display:none}.gps-612933882630767184 .gp-h-full{height:100%}.gps-612933882630767184 .gp-max-w-full{max-width:100%}.gps-612933882630767184 .gp-flex-col{flex-direction:column}.gps-612933882630767184 .gp-items-center{align-items:center}.gps-612933882630767184 .gp-justify-center{justify-content:center}.gps-612933882630767184 .gp-overflow-hidden{overflow:hidden}.gps-612933882630767184 .gp-break-words{overflow-wrap:break-word}.gps-612933882630767184 .gp-text-center{text-align:center}.gps-612933882630767184 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-612933882630767184 .gp-no-underline{text-decoration-line:none}.gps-612933882630767184 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612933882630767184 .gp-duration-200{transition-duration:.2s}.gps-612933882630767184 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-612933882630767184 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-612933882630767184 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-612933882630767184 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-612933882630767184 .tablet\:\!gp-hidden{display:none!important}.gps-612933882630767184 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612933882630767184 .mobile\:\!gp-hidden{display:none!important}.gps-612933882630767184 .mobile\:gp-hidden{display:none}}.gps-612933882630767184 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    
    <gp-sticky
    data-id="gMHzsj_ubM"
      gp-data='{"uid":"gMHzsj_ubM","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gMHzsj_ubM"
      data-id="gMHzsj_ubM"
      class="sticky-wrapper  gMHzsj_ubM undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:0;--t:unset;--left-tablet:0;--t-tablet:unset;--left-mobile:0;--t-mobile:unset;--top:0;--pos:sticky;--d:block;--top-tablet:0;--pos-tablet:sticky;--d-tablet:block;--top-mobile:0;--pos-mobile:sticky;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:8.485281374238571px 8.48528137423857px 12px 0px rgba(18, 18, 18, 0.2);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="g0PLtQHSIn gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"/products/pumpkin-seed-oil-softgels","target":"_blank","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center" >
        <style>[data-id="gYojUmTZGj"].gp-button-base::before, [data-id="gYojUmTZGj-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gYojUmTZGj"]:hover::before, [data-id="gYojUmTZGj-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="gYojUmTZGj" dataId="gYojUmTZGj" data-state="idle" aria-label="<p>Buy Now</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pumpkin-seed-oil-softgels" target="_blank"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#C5453F;--bg:#E78F29;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="gYojUmTZGj gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggYojUmTZGj_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gYojUmTZGj">
        button.gYojUmTZGj {

}
      </style>
    
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-612933882630767184 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/s3x280-0x/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612933882546750032&sectionId=612933882630767184)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYojUmTZGj_label","label":"ggYojUmTZGj_label","default":"<p>Buy Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}